<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


<link rel="stylesheet" href="../public/main.css">

<!-- 모든 html 파일에 nav를 넣으면 수정하기 정말 힘드니까 nav.html를 따로 만들고 각 html 페이지 html 태그한다 -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">To do App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/write">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
    // for (let i = 0; i < 3; i++) {
    //     $('.nav-link').eq(0).on('click', function(){
    //         활성화버튼(0);
    //     })
    // }

    // function 활성화버튼(숫자){
    //     $('.nav-link').removeClass('btn btn-danger');
    //     // $('.nav-item').eq(숫자).addClass('active');
    // };

    // $('.nav-link').on('click', function(){
    //     console.log('클릭')
    //     $('.nav-link').removeClass('btn btn-danger');
    //     // $('.nav-link').eq(1).addClass('active');
    //     });

    // $(document).ready(function(){
    //     $('.nav-link').off('click').on('click', function(){
    //         if($('.nav-link').hasClass('active')) {
    //             $('.nav-link').removeClass('active');
    //         } else {
    //             $('.nav-link').addClass('active');
    //         }
    //     })
    // })
</script>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>